body{
	background-color:#0072BB; 
	color: white;
	text-align: center;
	font-family: "Croissant One";
}

h1
{
	margin: 0 auto;
	font-family: "Roboto Slab";
	font-weight: 400;
	font-size: 10em;
	color:white;
}

.logoimg
{
	height: 150px; 
	position: relative;
	right:180px;
	bottom: 25px;
}

h2{
	display: table;
	margin: 0 auto;
	font-family: "Croissant One";
	font-weight: 400;
	font-size: 4em;
	background: linear-gradient(330deg, #5FC3E4 0%,#FFFFFF 50%, #E55D87 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	left:225px;
	bottom:35px;
}

.borderbox{
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
	height: 400px;
	background-color: #E55D87;
	border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;

}

.answerImg img
{
	padding: 0px;
	margin:0px;
	width: 300px;

}

p
{
	font-size: 150%;
}